body{
	background-color: white;

}
img{
	border-radius: 100px;
	size: 15%;
}
#text{	
	    margin-left: 377px;
		margin: 3px;
		border-color: #EFC88B;
		border-radius :40px;
		border-collapse: separate;
		border-spacing: 15px;
		box-sizing: content-box;
		width: 1000px;
		height: 400px;
		padding: 30px;
		height:80px;
		line-height:38px;border-color:#70C1B3;
		font-size: 30px;
		font-style:italic;

}
.blogname{
 font-color:white;
 margin-top: 3px;
}

.container{
margin :50px;
margin-top:100px; 
display: flex;
flex-direction: row;
}

.logo{
background-color: black;
font-style: italic;
font-size: 40px;
font-weight: bold;
height: 90px;
line-height: 90px;
text-align: center;
border: 4px solid;
border-radius :40px;


}
#btn,#search{
color: #fff !important;
text-decoration: none;
background: #EFC88B;
padding: 3px;
border-radius: 30px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
align-self: right;
width: 70px;
height: 40px;
size: 40px;


}
#btn:hover,#search:hover{
background: #70C1B3;
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
transition: all 0.4s ease 0s;
transition: transform,padding .5s;
transform: scale(1.3);
}

.delete{
color: #fff !important;
text-decoration: none;
width:100%;
background:	#EFC88B;
padding: 0px;
border-radius: 30px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
width: 80px;
height: 25px;
float: right;
size: 40px;
}
.delete:hover{
background:	#cc3333;
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
transition: all 0.4s ease 0s;
transition: transform,padding .5s;
transform: scale(1.3);
margin: inline-block;
}
.posts{
border :2px solid  #5c5858 ;
border-radius: 4px;
box-sizing: border-box;
}

.oldposts{
font-size: 25px;
color: black;
display: grid;
}

#yourposts{
text-align: center;
 display: flex;
  flex-direction: row;
}
.postdate{
width: 300px;
font-size: 20px;
color: #001F1F;
}
#search{
	font-style: italic;
}